.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7fb;
}

.login-card {
  background: white;
  width: 420px;
  padding: 40px;
  border-radius: 16px;
  box-shadow:
    0 10px 25px rgba(
      0,
      0,
      0,
      0.1
    );
  text-align: center;
}

.login-card h1 {
  color: #2563eb;
  margin-bottom: 70px;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-card input {
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
}

.login-card input:focus {
  outline: none;
  border-color: #2563eb;
}

.login-card button {
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: #1d4ed8;
}

.register-link {
  margin-top: 20px;
}

.register-link a {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}